@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;500&display=swap');

:root {
}
* {
	font-family: 'Roboto Mono', monospace;
}
body {
}
#app {
	max-width: 50%;
}
#pixi {
	/* position: absolute; */
	/* overflow: hidden;
	width: 100%;
	height: 100%; */
}
#outerContainer {
	display: flex;
	flex-direction: row;
}
